<div class="shadow-2xl flex border-2 border-gray-400 rounded-md w-[400px] p-4 h-full gap-4 justify-between">
    <img [src]="book.imgUrl" [alt]="book.name" class="object-cover w-[140px]">

    <div class="text-center flex flex-col w-3/4">
        <h2 class="mb-3 font-bold text-xl">{{book.name}}</h2>
        <h3 class="">{{book.author}}</h3>
        <p class="font-bold">{{book.price| currency:'RUB'}}</p>
        <button class="bg-amber-500 w-40 p-2 text-white mt-auto mx-auto hover:bg-amber-700 duration-300 rounded" *ngIf="!isInCart" (click)="addInCart()">Add to Cart</button>
        <button class="bg-blue-500 w-40 p-2 text-white  mt-auto mx-auto hover:bg-blue-700 duration-300 rounded" *ngIf="isInCart" (click)="removeFromCart()">Remove from Cart</button>
    </div>
</div>
